<!-- Employee CSS-->

#employee_heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-left: 2px;
  margin-right: 4px;
  margin-top: 40px;

}

#employee_heading > h1 {
  font-weight: 500;
  font-family: Gill Sans;
}

#new_employee_button{
  padding: 8px 12px;
  background-color: darkblue;
  color: white;
  border-radius: 5px;
  margin-top: 20px;
  border-color: transparent;
}

#new_employee_button:hover {
  cursor: pointer;
  background-color: #878787;
}

#new_employee_button:active{
  outline-style: solid;
  outline-color: rgb(80, 80, 80);
  outline-width: thin;


}

#employee_list {
  min-width: 1000px;
  max-width: 1000px;
  border-collapse: collapse;
  border: solid .5px silver;
  border-radius: 10px;
  padding-bottom: 20px;
}


#employee_list th{
  background-color: darkblue;
  color: white;
  text-align: center;
  padding: 15px 0px 13px 10px;
  font-size: 15px;
}

#employee_list td{
  padding: 15px 11px;
  font-size: 15px;
  text-align: center;
}

.employee_name {
  min-width: 200px;
  
}

.employee_idNumber {
  min-width: 100px;
}

.employee_rate{
  min-width: 150px;
}

.employee_allowance {
  min-width: 100px;
}

.employee_overtime{
  min-width: 100px;
}

.employee_options {
  display: flex;
  flex-flow: wrap;
  min-width: 320px;
  justify-content: center;
}

.update_button {
  color: white;
  font-size: 13px;
  padding: 7px 13px;
  margin: 3px;
  min-width: 80px;
  cursor: pointer;
  background-color: rgb(42, 82, 192);
  border-radius: 4px;
  border: .5px solid rgba(73, 73, 73, 0.488);
}

.delete_button {
  color: white;
  font-size: 13px;
  padding: 7px 13px;
  margin: 3px;
  min-width: 70px;
  cursor: pointer;  
  background-color: #e2710e;
  border-radius: 4px;
  border: .5px solid rgba(73, 73, 73, 0.488)
}

.overtime_hours {
  color: black;
  padding: 7px;
  font-size: 13px;
  right: 90px;
  max-width: 150px;
  border: .5px solid rgba(73, 73, 73, 0.488);
  border-radius: 2px;
}

.add_overtime {
  color: rgb(255, 255, 255);
  position: relative;
  font-size: 13px;
  padding: 7px 16px;
  margin: 3px;
  min-width: 10px;
  cursor: pointer;
  background-color: rgb(92, 33, 89);
  border-radius: 4px;
  border: .5px solid rgba(73, 73, 73, 0.488)
}

